<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestEnd>
        <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.RetrieveRenderingsPipeline, Sitecore.ExperienceExplorer.Business">
          <patch:delete />
        </processor>
        <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.SetModeChangedMarker, Sitecore.ExperienceExplorer.Business">
          <patch:delete />
        </processor>
      </httpRequestEnd>

      <httpRequestProcessed>
        <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.RetrieveRenderingsPipeline, Sitecore.ExperienceExplorer.Business" patch:before="processor[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']"></processor>
        <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.SetModeChangedMarker, Sitecore.ExperienceExplorer.Business"       patch:before="processor[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']" ></processor>
      </httpRequestProcessed>
    </pipelines>
  </sitecore>
</configuration>